// Regular
$myriadpro-regular-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Light
$myriadpro-light-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Semibold
$myriadpro-semibold-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Bold
$myriadpro-bold-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Bold Italic
$myriadpro-boldit-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Semibold Italic
$myriadpro-semiboldit-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Condensed
$myriadpro-cond-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Bold Condensed
$myriadpro-boldcond-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Condensed Italic
$myriadpro-condit-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";

// Bold Condensed Italic
$myriadpro-boldcondit-base64: "data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAPGYAA0AAAABcJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAADmBAAAAEYAAABGZSVdvUNGRiAAAAtkAACtpQAA4CNyvaQjRFNJRwAA5kwAAAtKAAAQ3A";
