@import "./_font-base64.scss";
@import "./font-family.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  color: $txt-primary;
  font-family: $font-family-primary;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
  line-height: 100%; /* 3rem */
  letter-spacing: -0.12rem;
}

h2 {
  color: $txt-primary;
  font-family: $font-family-primary;
  font-size: 2rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
  line-height: 105%; /* 2.625rem */
  letter-spacing: -0.1rem;
}

h3 {
  color: $txt-primary;
  font-family: $font-family-primary;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
  line-height: 110%; /* 2.3375rem */
  letter-spacing: -0.085rem;
}

h4 {
  color: $txt-primary;
  font-family: $font-family-primary;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
  line-height: 115%; /* 2.0125rem */
  letter-spacing: -0.0525rem;
}

h5 {
  color: $txt-primary;
  font-family: $font-family-primary;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
  line-height: 120%; /* 1.8rem */
  letter-spacing: -0.03rem;
}

h6 {
  color: $txt-primary;
  font-family: $font-family-primary;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: $font-weight-semibold;
  line-height: 120%; /* 1.5rem */
  letter-spacing: -0.025rem;
}

p {
  .body-1 {
    font-family: $font-family-primary;
    font-size: 1rem;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 150%; /* 1.5rem */
    letter-spacing: -0.02rem;
  }

  .body-2 {
    font-family: $font-family-primary;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: -0.0175rem;
  }
}

.trademark.txt {
  color: $txt-disabled;
  font-family: $font-family-primary;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: $font-weight-regular;
  line-height: 130%; /* 0.975rem */
}

.bold-txt {
  font-weight: $font-weight-bold;
}

.semibold-txt {
  font-weight: $font-weight-semibold;
}

.neutral-txt {
  color: $neutral-50;
}
